@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap" );

*{
  box-sizing:border-box;
  margin:0;
  padding:0;
}
ul
{
  list-style-type: none;
}
a{

  text-decoration: none;
  color:#333;
}
body {
  margin: 0;
  font-family: 'Plus Jakarta Sans', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 

}
.container
{
  max-width: 1240px;
  margin:auto;
}
.btn
{
  color:white;
  background-color:blue;
  padding:12px 24px;
  border:none;
  font-size: 1rem;
  transition:.4s;
  cursor:pointer;
}
.btn:active
{
  transform:translate(4px);
  border-bottom:none;
  color:blue;
}